{% extends "base.html" %}

{% block content %}
    <h1>
        {% if book %}
            Update Book
        {% else %}
            Add new Book
        {% endif %}
    </h1>
    <form action="" method="post">
        <div class="form-field">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ book.title }}">
        </div>
        <div class="form-field">
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="{{ book.author }}">
        </div>
        <div>
            <!-- <input type="submit" value="Save"> -->
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock content %}