{% extends "base.html" %}

{% block content %}
    <h1>Remove Book</h1>
    <form action="" method="post">
        <p class="alert">
            Are you sure you want to remove
            <strong>{{ book.title }}</strong> by {{ book.author }}?
        </p>
        <button class="btn-action" type="submit">Yes, Go Ahead!!!</button>
        <a class="btn-action" href="{% url 'book-details' pk=book.pk %}">NOOOOO</a>
    </form>
{% endblock content %}