{% extends "base.html" %}

{% block title %}{{ book.title }} - {{ block.super }}{% endblock title %}

{% block content %}
    <h1>Book Details</h1>
    <p>
        <a href="{% url 'book-list' %}">&laquo; Back to list</a>
        |
        <a href="{% url 'book-update' pk=book.pk %}">Update Book</a>
        |
        <a href="{% url 'book-delete' pk=book.pk %}">Remove Book</a>
    </p>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>
        Read? {{ book.has_read }}
        {% if not book.has_read %}
        <form action="{% url 'book-read' pk=book.pk %}" method="post">
            <button type="submit">Mark as Read</button>
        </form>
        {% endif %}
    </p>
{% endblock content %}