{% extends "base.html" %}

{% block content %}
    <h1>Summer Reading</h1>
    <div>
        <a class="btn btn-primary" href="{% url 'book-add' %}" class="btn-add">Add new Book</a>
    </div>
    <ul>
        {% for book in books %}
        <li>
            <a href="{% url 'book-details' pk=book.pk %}">{{ book.title|default:"N/A" }}</a>
        </li>
        {% empty %}
        <li>
            <strong>
                <mark>No books have been added to you summer reading list!!!</mark>
            </strong>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}