.btn-add {
    border: 1px solid black;
    border-radius: 4px;
    padding: 9px 18px;
    text-decoration: none;
    color: #404040;
    font-weight: 600;
    background: #eee;
    text-shadow: 1px 1px 1px white;
}

.btn-add:hover {
    background: #dcdcdc;
    color: #323232;
}

.form-field {
    padding: 8px;
}

.form-field > label {
    width: 80px;
    display: inline-block;
}


.alert {
    border: 1px solid red;
    background: #cd1811;
    color: white;
    padding: 6px;
    font-size: 18px;
}

.btn-action {
    border: 1px solid fuchsia;
    background: darkturquoise;
    padding: 8px;
    border-radius: 9px;
    font-size: 18px;
    color: blueviolet;
    text-decoration: none;
    cursor: pointer;
}